<div class="flex-nav">
  <div class="flex-left half">
    <a class="fancy-text">Infographix</a>
      <a href="#home">Home</a>
      <a href="#account">Account</a>
      <a href="#how-to">How to Use</a>
      <a href="#contact">Contact</a>
  </div>
  <div class="flex-right half">
    <div class="dropdown create">
      <button class="dropbtn create"> Create New
        <i class="fa fa-add"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Presentation</a>
        <a href="#">Website</a>
        <a href="#">Video</a>
        <a href="#">3D Model</a>
        <a href="#">Game</a>
      </div>
    </div>
    <a href="#home">Sign In</a>
    <a href="#home">Sign Up</a>
  </div>
</div>