@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;700&display=swap');

* {
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

body {
  margin: 0;
  background-color: #111;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

a.router-link-exact-active {
  background-color: white;
  color: black;
}

.fancy-text {
  background: -webkit-linear-gradient(#02fa02, #13a500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glitch {
  animation: glitch 1s linear infinite;
}

@keyframes glitch {
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.glitch:before,
.glitch:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

.glitch:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.glitch:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #222;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #333;
}

input {
  border: none;
  border-bottom: 3px solid #333;
  background-color: #0a0a0a;
  box-shadow: none;
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  color: white;
}

.auto {
  width: 50vw;
  max-width: 100%;
  max-height: 100%;
}

.bouncy {
  height: fit-content;
  outline: none;
  color: white;
  background-image: linear-gradient(to right, #02fa02, #13a500);
  font-size: 1.5rem;
  border: 1px solid white;
  border-radius: 30px;
  padding: 20px;
  transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.bouncy:hover {
  transform: scale(1.2);
}

.bouncy:active {
  transform: scale(0.6);
}