@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Poppins&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    overflow-x: hidden;
}

code, pre {
    font-family: 'Fira Code', monospace !important;
}

.block:nth-child(2n+1) {
    background-color: #111;
}

.block:nth-child(2n+0) {
    background-color: #222;
}

.flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.half {
    width: 50%;
}

.wide {
    width: 80vw;
}

.l {
    font-size: 2vw;
}

.xxl {
    font-size: 5vw;
}

.xl {
    font-size: 3vw;
}

@media screen and (max-width: 600px) {
    
    .flex {
        flex-flow: column wrap;
    }

    .half {
        width: 100%;
    }
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fancy-text {
    background: -webkit-linear-gradient(right, #0a7b00, #15ff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.to-fade-in {
    opacity: 0;
    &.fade-in {
        animation: fade-in 1.5s forwards;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

button {
    border-radius: 5%;
    color: white;
    background: -webkit-linear-gradient(right, #0a7b00, #15ff00);
    padding: 0.5%;
}

.spread {
    padding: 5%;
}

.main-video {
    width: auto;
    height: 30vw;
}

.strikethrough {
    color: red;
    text-decoration: line-through;
}

img {
    width: 50vw;
    height: auto;
}

.glow {
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #00ff0d, 0 0 30px #00b209, 0 0 40px #008106, 0 0 50px #005504, 0 0 60px #003703, 0 0 70px #002102;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #00ff0d, 0 0 40px #40ff49, 0 0 50px #5dff65, 0 0 60px #7bff82, 0 0 70px #a9fdad, 0 0 80px #d6fbd8;
  }
}

.glow-red:hover {
    color: #fff;
    text-align: center;
    -webkit-animation: glow-red 1s ease-in-out infinite alternate;
    -moz-animation: glow-red 1s ease-in-out infinite alternate;
    animation: glow-red 1s ease-in-out infinite alternate;
}
  
@-webkit-keyframes glow-red {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #ff0000, 0 0 30px #bf0000, 0 0 40px #840000, 0 0 50px #560000, 0 0 60px #360000, 0 0 70px #1a0000;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #fb2a2a, 0 0 50px #fe4949, 0 0 60px #fa7777, 0 0 70px #ffafaf, 0 0 80px #fdcbcb;
    }
}

.glow-small {
    color: #fff;
    text-align: center;
    -webkit-animation: glow-small 1s ease-in-out infinite alternate;
    -moz-animation: glow-small 1s ease-in-out infinite alternate;
    animation: glow-small 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow-small {
    from {
        text-shadow: 0 0 1px #fff, 0 0 2px #00ff0d, 0 0 3px #00b209, 0 0 4px #008106, 0 0 5px #005504, 0 0 6px #003703, 0 0 7px #002102;
    }
    to {
        text-shadow: 0 0 2px #fff, 0 0 3px #00ff0d, 0   0 4px #40ff49, 0 0 5px #5dff65, 0 0 6px #7bff82, 0 0 7px #a9fdad, 0 0 8px #d6fbd8;
    }
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.js-cursor {
    width: 2vw;
    height: auto;
}